<!DOCTYPE html>
<!-- Copyright 2017-2018 Maxime Louet - GitHub repository: https://github.com/maximelouet/blih-web -->
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>BLIH Web BETA</title>
    <script>document.documentElement.className = 'first-loading';</script>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>">
    <link rel="preload" href="<%= jsPath %>" as="script">
    <meta name="description" content="Web interface for BLIH, the EPITECH repository management tool. Visualize, create, and modify your repositories from a lightweight and responsive web page.">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="BLIH Web">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blih.saumon.io">
    <meta property="og:image" content="https://img.saumon.io/blih-web.png">
    <meta property="og:description" content="Web interface for BLIH, the EPITECH repository management tool. Visualize, create, and modify your repositories from a lightweight and responsive web page.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="all">
    <meta name="theme-color" content="#691a99">
    <link rel="icon" href="/favicon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>

<header>
    <div class="content-container" id="header">
        <h1><a href="/" id="brand">BLIH Web</a></h1>
        <div id="loader"></div>
    </div>
</header>

<div id="user-info" class="hidden" title="Click to dismiss"></div>

<main id="main" class="content-container">
    <h2>Login</h2>
    <p>Please enter your Epitech login and password to continue.</p>
    <form id="login-form">
        <label for="login-user">Login</label>
        <input type="text" placeholder="firstname.lastname" id="login-user" autocomplete="username">
        <label for="login-pass">Password</label>
        <input type="password" placeholder="Epitech password" id="login-pass" autocomplete="current-password">
        <button class="btn bg-green" type="submit" id="login-submit">Login <i class="i-right i-ar"></i></button>
    </form>
</main>

<footer>
    <div class="content-container">
        <p>Created with <svg class="a-beautiful-heart" style="width: 1em;" viewBox="0 0 32 29.6" ><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2 c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg> by <a href="https://saumon.io">Maxime Louet</a> (EPITECH Paris 2021).</p>
        <p>Version <%= version %> (<a href="https://github.com/maximelouet/blih-web/blob/2.0/CHANGELOG.md" title="See changelog on GitHub">changelog</a>)</p>
        <p class="log-info">We log your username, the URL of the BLIH requests you trigger, and the HTTP response code from BLIH. That's all.</p>
        <p><a href="/blih.py" download="blih.py">Download BLIH python script</a></p>
        <p><a href="https://github.com/maximelouet/blih-web/tree/2.0">View this project on GitHub</a></p>
    </div>
</footer>

<script>const SCRIPT_MODAL_PATH = "<%= modalPath %>";</script>
<script src="<%= jsPath %>"></script>
<script src="<%= meowPath %>"></script>

</body>
</html>
